h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: fixed;
    z-index: 99;
  }

  @keyframes spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin { animation: spin 3s linear infinite; }



  @keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }
  .spin3D { animation: spin3D 3s ease-in-out infinite; }
  </style>



#trr{

    z-index: 4;
}


.skibid{
    z-index: 3;

}

.skibid1{
    width: 150px;
    height: 300px;
    position: absolute;
    left: 3%;
    top: 30px;
}


body{
    background-image: url(img/sigma.jpg);
}


.kretyno{
    position: absolute;
    width: 120px;
    height: 100px;
}


#cwel{
    min-width:900px ;
    max-width: 1500px;
    text-align: center;
}



